//
@import "./partials/header";
@import "./partials/jumbotron";
@import "./partials/footer";
@import "./partials/merch";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.txt-style{
    font-family: Roboto;
}